body {
    background-color: #e0f7fa; 
    font-family: Arial, sans-serif; 
    margin: 0; 
    padding: 0; 
}

.logo-container {
    margin-top: 20px;
}

.logo {
    width: 200px;
    height: auto;
}

.title-box {
    background-color: #ffffff; 
    padding: 10px 20px;
    border-radius: 10px; 
    display: inline-block; 
}

.card {
    margin-bottom: 10px; 
    border-radius: 15px; 
    overflow: hidden; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-body {
    padding: 40px; 
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
    height: 100%;
}

.menu-box {
    transition: transform 0.3s ease;
}

.menu-box:hover {
    transform: translateY(-5px); 
}

.modal-content {
    background-color: #e0f7fa; 
    border-radius: 20px; 
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2); 
}

.modal-header {
    border-bottom: none; 
}

.modal-body {
    padding: 20px;
    display: flex;
    align-items: center; 
    flex-direction: column;
}

.modal-body img {
    max-width: 100%;
    border-radius: 15px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.modal-body p {
    margin: 10px 0;
}

.modal-footer {
    justify-content: center;
}

.eliminados-menu3 {
    margin-top: 20px;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.eliminados-menu3 ul {
    padding: 0;
}

.eliminados-menu3 li {
    list-style-type: none;
    margin-bottom: 5px;
}

@media (max-width: 768px) {
    .card {
        width: 100%;
    }
    .modal-body {
        flex-direction: column;
        align-items: center;
    }
    .modal-body .row {
        margin-bottom: 20px;
    }
}
